<!-- {% extends 'indexForm.html' %}

{% block content %} -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Form de cadastro do Administrador</title>
</head>
<body>
    <a href="administrador/frontend/indexADM.html" class="btn btn-light btn-sm">Voltar</a>
    <div class="d-flex justify-content-center align-items-center m-3 h-100">
    
        <form class="p-4 rounded shadow-sm w-50 h-100" style="background-color:#FBCBF2;" id="formulario">
    
            <!-- {% csrf_token %}
    
            {{form_user}}
            {{ form }} -->
    
            <!-- Editar administrador -->
            <!-- {{editarUserForm}}
            {{editarAdministradorForm}} -->
    
            <label for="username">Usuário:</label>
            <input type="text" name="username" id="username" required>

            <br>
            <br>
    
            <label for="email">E-mail:</label>
            <input type="email" name="email" id="email" required>

            <br>
            <br>
    
            <label for="password">Senha:</label>
            <input type="password" name="password" id="password" required>

            <br>
            <br>
    
            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="nome">

            <br>
            <br>
    
            <button type="submit" style="background-color: #DBB8E3">Salvar</button>
        </form>
    </div>

    <!-- axios é utilizado para realizar a comunicação do front com a API -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- javaScript onde está as funções que realiza a comunicação com o a API -->
    <script type="module" src="/clinica/administrador/frontend/static/js/administrador.js"></script>

</body>
</html>
<!-- {% endblock %} -->