{% extends 'indexADM.html' %}

{% block content %}
<a href="/administrador/index/" class="btn btn-light btn-sm">Voltar</a>
<div class="container mt-4">
  <h3 class="mb-3 text-primary text-center">👥 Clientes Cadastrados</h3>

  <table class="table table-bordered table-hover">
    <thead class="table-primary">
      <tr>
        <th>Nome de usuário</th>
        <th>Email</th>
        <th>Endereco</th>
        <th>Telefone</th>
        <th>Nome completo</th>
      </tr>
    </thead>
    <tbody>
      {% for cliente in clientes %}
      <tr>
        <td>{{ cliente.user.username }}</td>
        <td>{{ cliente.user.email }}</td>
        <td>{{ cliente.endereco }}</td>
        <td>{{cliente.telefone }}</td>
        <td>{{ cliente.nome }}</td>
      </tr>
      {% empty %}
      <tr><td colspan="3">Nenhum cliente cadastrado.</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
