{% extends 'index.html' %}

{% block content %}
<!-- O botão voltar funcionar de acordo com o camiho acessado pela a url -->
<!-- Esse /criarProfissional é name dado na url.py -->
{% if "/criarProfissional" in request.path %}
    <a href="/administrador/index/" class="btn btn-light btn-sm">Voltar</a>
{% else %}
    <a href="/profissional/index/" class="btn btn-light btn-sm">Voltar</a>
{% endif %}
<div class="d-flex justify-content-center align-items-center">
   
    <form method="POST" action="" class="p-4 rounded shadow-sm" style="background-color:#FBCBF2" id="formulario">
        
        {% csrf_token %}
        {{form_user}}
        {{form}}
        {{editarUserForm}}
        {{ editarProfissionalForm}}

        <button type="submit" style="background-color: #DBB8E3">Salvar</button>
    </form>

</div>

{% endblock %}